.col-1 {
    width: 8.33%;
}

.col-2 {
    width: 16.66%;
}

.col-3 {
    width: 25%;
}

.col-4 {
    width: 33.33%;
}

.col-5 {
    width: 41.66%;
}

.col-6 {
    width: 50%;
}

.col-7 {
    width: 58.33%;
}

.col-8 {
    width: 66.66%;
}

.col-9 {
    width: 75%;
}

.col-10 {
    width: 83.33%;
}

.col-11 {
    width: 91.66%;
}

.col-12 {
    width: 100%;
}

html{
    /*background: url("https://img.freepik.com/free-vector/realistic-colorful-galaxy-background_23-2148965681.jpg");*/
    font-family: Arial;
    margin: 0px;
}
#header{
    font-size: 15px;
    /*font-weight: bold;*/
    font-family: Arial;
    background-color: rgba(178, 189, 189, 0.49);
    margin-bottom: 10px;
    height: 30px;
}
#main{
    margin: 0 0 20px;
    text-align: center;
    background-color: rgba(178, 189, 189, 0.49);
}
a{
    border-style: groove;
    font-size: 10px;
}
#content{
    height: 230px;
    position: relative;
}
.left{
    float: left;

}
.right{
    position: absolute;
    left: 260px;
    top: 1px;
}
#endding{
    background-color: rgba(220, 226, 226, 0.49);
    text-align: center;
    margin-top: 23px;
    margin-bottom: 0px;

}
p1{
    font-size: 8px;
    position: relative;
}
p{
    font-size: 6px;
}
body{
    margin: 0px;
}
hr{
    position: relative;
    margin: 0px;
}
h1{
    font-size: 20px;
}